/* global mui component styles */

/* overwrite font-family because the overwriting somehow is not working otherwise */ 
.MuiFormLabel-root.MuiInputLabel-root, .MuiInputBase-input.MuiInput-input {
    font-family: 'Source Sans Pro' !important;
}

/* hide language and theme selection */
#workspace-menu div ul li:nth-child(2), #workspace-menu div ul li:nth-child(3) {
    display: none !important;
}

/* set tooltip size global */
.MuiTooltip-tooltip {
    font-size: 12px !important;
}

/* prevent color change on autofocus on manifestlistitem */
li.MuiListItem-root:focus-within {
    background-color: inherit !important;
}

/* preserve color change on hover on manifestlistitem */
li.MuiListItem-root:hover {
    background-color: rgba(2565, 255, 255, 0.08) !important;
}

div.MuiDialog-container .MuiPaper-root div.MuiButtonBase-root.MuiListItem-root.Mui-selected {
    background-color: rgba(66, 66, 66, 1) !important;
}

div.MuiDialog-container .MuiPaper-root .MuiDialogContent-root .MuiGrid-root p {
    margin: 0;
}
